.nav-tabs > li {
  float:none;
  display:inline-block;
  zoom:1;
}

.nav-tabs {
  text-align:center;
}
.fixed-width{
  width:338px;
}

.scroller_dash{
  overflow:scroll;
  height:100%;
  width:338px;
  padding-left:5px;
  padding-right:0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
}
.log-out {
  position: absolute;
  top:30px;
  right:5px;
}
