// Specific CSS for your home-page


.jumbotron {
  background-image: url(/assets/house_new-ffefdffcbce8aba8352679ab22476d70b16d24703cb697cad6aed3ae9d307560.jpg);
  background-size: cover;
  position: absolute;
  background-position: right;
  height: 100vh;
  width: 100vw;
  top:0px;
}

.call-to-action {
  height:180px;
  width: 400px;
  margin:auto;
  // background-color: lightgrey;

}

.action{
  margin-top: 0px;
}

.btn-lg {
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: white;
  background-color: #019013;
}

.display-4 {
  color: white;
}

