// Specific CSS for your home-page

.jumbotron {
  background-color: #eae8e6;
  position: absolute;
  // z-index: -2;
  height: calc(100vh - 60px);
  width: 100vw;
  top:60px;
  margin: 0px;
  padding: 0px;

}

.simple_form {
  height:100%;
  padding-bottom: 20px;
}

.door {
  height:80%;
  width:302px;
  position: absolute;
  // z-index: -1;
  right:0;
  bottom:0;
  background-image: url(/assets/door-fd4c19b2ac1fd0728c9bb65f5a6688225b69edf7d55014ecd7563e70bf455de5.png
);
  background-size: cover;
}

.call-to-action {
  height:180px;
  width: 100%;
  margin:auto;
}

.action{
  margin-top: 0px;
}

.btn-lg {
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border: 1px solid white;
  color: white;
  background-color: #019013;
}
.btn-lg:hover {
  background-color: white;
  color:#019013;
  border: 1px solid #019013;
}

.display-4 {
  color: white;
}
.hide_xs{
  width:338px;
  border: 1px solid #019013;
  border-radius: 2px;
  margin-bottom:0px;
  background-color: white;
}
