// Specific CSS for your home-page

.jumbotron {
  background-color: #eae8e6;
  position: absolute;
  height: calc(100vh - 60px);
  width: 100vw;
  top:60px;
  margin: 0px;
  padding: 0px;

}

.simple_form {
  height:100%;
  padding-bottom: 20px;
}

.door {
  height:90%;
  width:400px;
  position: absolute;
  right:0;
  bottom:0;
  background-image: url(/assets/new_house-cdccac550d1b3bb4a7355b6a1965f7bba4ae468e2211fd02134539e0af65e27b.png);
  background-size: cover;
  // background-position: right;
}

.call-to-action {
  height:180px;
  width: 400px;
  margin:auto;
  // background-color: lightgrey;

}

.action{
  margin-top: 0px;
}

.btn-lg {
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: white;
  background-color: #019013;
}

.display-4 {
  color: white;
}
