<div class="jumbotron">
  <h1 class="bg-gradient-dark text-white my-5"> You can't be in two places at once</h1>
  <h2 class="bg-gradient-dark text-white">Hire an inspectA!</h2>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/inspections/new" role="button">Get Started</a>
  </p>
</div> 

