<div class="jumbotron">

  <div class="call-to-action mt-4">
    <h2 class="bg-gradient-dark text-white my-3"> You can't be in two places at once.</h2>
      <a class="btn btn-success btn-lg" href="/inspections/new" role="button">Hire inspecta</a>
  </div>

  <div class="door">
<!-- png image of the door goes here -->
  </div>
</div>

