<h1>inspectAhouse</h1>
<p>You can't be in two places at once, find an inspectA! </p>

<a href="/inspections/new" class="btn btn-primary">Request an inspection</a>
<a href="/inspections" class="btn btn-danger">Get paid</a>


