
  <div class="call-to-action mt-4">
    <h3 class="bg-gradient-dark text-white my-3"> Can't be in two places at once?</h3>
      <a class="btn btn-success btn-lg" href="/inspections/new" role="button">Hire inspecta</a>
  </div>

  <div class="door">
<!-- png image of the door goes here -->
  </div>

