
.card {

    display: inline-block;
    // border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius:3px;
    position: relative;
    width:308px;
    padding:0px;
}
.show-card{
  height: calc(100vh - 100px);
}
// .dash_card{
//   height: calc(100vh - 77px);
// }

// inside index card
.card_type {
  height:40px;
  width:40px;
  margin-right: 0px;
  display:inline-block;
  text-align: center;
}
.fa-home{
  font-size: 25px;
  color: green;
  line-height: 40px;
}

.card-body{
  padding:0px;
}

.top_sec {
  width:65%;
  display:inline-block;
  vertical-align: top;
}
.top_sec span {
  margin-left: 20px;
}

.price {
  position: absolute;
  right:0;
  top:0;
  width:50px;
  height:30px;
  // border:1px solid black;
  background-color: darkgrey;
  text-align: center;
}
.price h6 {
  line-height: 30px;
  color: white;
}
.user {
  height:30px;
  width:30px;
  padding-left: 3px;
  padding-top: 2px;
  margin-left: 5px;
  border:1px solid pink;
  border-radius:50%;
  overflow:hidden;
  display:inline-block;
  margin-bottom: 2px;
}

.desc{
  // border:1px solid blue;
  height:45px;
  width:65%;
  padding-left: 5px;
  display:inline-block;
}
.speech-bubble {
  background: #efefef;
  border-radius: 4px;
  line-height: 1;
  margin: 0 auto 4px;
  max-width: 400px;
  padding-top: 5px;
  position: relative;

  // this is the triangle at the bottom

  // &::after {
  //   border-left: 15px solid transparent;
  //   border-top: 15px solid #efefef;
  //   bottom: -10px;
  //   content: "";
  //   position: absolute;
  //   left: 10px;
  //   transform: rotateY(180deg);
  // }
}

.view {
  position:absolute;
  bottom:6px;
  right:6px;
  text-align: center;
}

// .view a {
//   text-decoration: none;
//   color:white;
//   line-height:35px;
//   font-weight: 1rem;
// }
// .view:hover{
//   background-color: white;
//   border:1px solid green;
//   a {
//     color:green;
//     line-height:35px;
//     font-weight: 1rem;
//   }
// }

// inside show card

.show_controls {
  margin-left:40px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    float: left;
}
.ul {
    list-style: none;
    justify-content: left;
}
#comment_description, #booking_note{
  display:inline-block;
  width:69%;
}
#comment_description {
  margin-top: -15px;
}

// inside dash card
.user_lg {
  height:60px;
  width:60px;
  margin-left: 5px;
  padding-left: 4px;
  border:1px solid pink;
  border-radius:50%;
  overflow:hidden;
  margin-bottom: 2px;
  line-height:60px;
}

