.navbar-lewagon {
  justify-content: space-between;
  background-color: #E4F1E4;
  position:sticky;
  top: 0px;
  z-index: 999;
  height:60px;
  font-family: Arial, Helvetica, sans-serif;
}

// .navbar-toggler {
//   border: none;
//   background: transparent !important;

//   &:hover {
//     background: transparent !important;
//   }

//   .icon-bar {
//     width: 22px;
//     transition: all 0.2s;
//   }
//   .top-bar {
//     transform: rotate(45deg);
//     transform-origin: 10% 10%;
//   }
//   .middle-bar {
//     opacity: 0;
//   }
//   .bottom-bar {
//     transform: rotate(-45deg);
//     transform-origin: 10% 90%;
//   }
// }

// .box {
//   width:200px;
//   border: 1px solid grey;
//   position:absolute;
//   right:0;
//   margin-top:2px;
//   justify-content: center;
// }

.active {
  width: auto;
  // text-shadow: 1px 1px 1px grey;
  font-size: 20px;

}
// .navbar-light .navbar-nav .nav-link {
//     color: #058F12;
// }


.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  margin-top: 2px;
  color: #0ea800;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  padding:0px;
  // text-shadow: 1px 1px 1px grey;
}

.nav_btn{
  margin-left: 5px;
  border: 1px solid #058F12;
  width:104px;
  color:white;
}

.nav_btn:hover {
  background-color: white;
  border: 1px solid #058F12;

}

.dash_btn{
  padding-left: 4px;
}


.pro {
  position:absolute;
  left:155px;
  top:20px;
  color:lightgrey;

}

.pro:hover {
  color:white;
  cursor: default;
}
