.navbar-lewagon {
  justify-content: space-between;
  // background: linear-gradient(45deg, #F8F8F8, transparent);
  // background-color: rgba(255,255,255,0.5);
  background-color: #E4F1E4;
  position:sticky;
  top: 0px;
  z-index: 999;
  height:60px;
  font-family: Arial, Helvetica, sans-serif;
  // border: 1px solid #D8D8D8;
}

// .navbar-lewagon:hover {
//   background-color: #FFFFFF;
// }

.active {
  width: auto;
  // text-shadow: 1px 1px 1px grey;
  font-size: 20px;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  margin-top: 2px;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #0ea800;
  // text-shadow: 1px 1px 1px grey;
}

.nav-link:hover{
  color: white;
}

.pro {
  position:absolute;
  left:155px;
  top:20px;
  color:lightgrey;

}

.pro:hover {
  color:white;
  cursor: default;
}
