.datepicker, .timepicker {
  border: 0px solid;
  height: 0px;
  padding: 0px;
  margin-top: 2px;
  padding-top: 0px;
}

.inspection_date{
  visibility: hidden;
}

.scroller_new {
  overflow:scroll;
  height:100%;
  width:338px;
  padding-left: 9px;
}
#new_inspection{
  width:308px;
  height:616px;
}
