.datepicker, .timepicker {
  border: 0px solid;
  height: 0px;
  padding: 0px;
  margin-top: 2px;
  padding-top: 0px;
}

.inspection_date{
  visibility: hidden;
}

.scroller_new {
  overflow:scroll;
  height:100%;
  width:338px;
  padding-left: 9px;
}
#new_inspection{
  width:308px;
  height:616px;
}

// #alert {
//   margin: 30px auto;
//   background: purple;
//   color: #fff;
//   border: 1px solid transparent;
//   padding: 0px 20px;
//   width: 30%;
//   font-size: 20px;
//   border-radius: 2px;
//   -webkit-transition: background 2s ease;
//   -moz-transition: background 2s ease;
//   -ms-transition: background 2s ease;
//   -o-transition: background 2s ease;
//   transition: background 2s ease;
// }
