// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// @import 'mapbox-gl/dist/mapbox-gl';
@import "bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import 'flatpickr/dist/flatpickr';

html, body {
    max-width: 100%;
    overflow:hidden;
}

h1{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;

}
.full-width {
  max-width:100vh;
  margin-right: 0px;
}

.absolute {
  position:absolute;
}


.a-primary{
    text-decoration: none;
    color: white;
}

.btn-lg {
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    border-radius: 4px;
  }

.btn-success {
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    border-radius: 8px;
  }

.btn-danger {
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #FF385C;
  }

.new_inspection{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

.page {
  display: table;
  width: 100vw;
}
.page-content,
.sidebar {
  display: table-cell;
}
.sidebar {
  width: 335px;
}
.gold {
  background-color: gold;
}

.fix_contain{
  margin-right:0px;
  margin-left: 0px;
  padding-left:0px;
  padding-right:0px;
  margin-bottom: 30px;
}
.map_row{
  margin-left: 0px;
  margin-right: 0px;
}

.map_width{
  padding-left:0px;
  padding-right: 0px;
  border-left:2px solid green;
}
